@tailwind base;
@tailwind components;
@tailwind utilities;

/*text color- default*/
:root {
  --background: #e0e0e0;
  --foreground: #303030;
}

/*background color- dark*/
.dark {
  --background: #151515;
  --foreground: #e0e0e0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.img-container {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.progress {
  transform: scaleX(0);
}
